* {
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 2rem 0 2rem 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

h4, h5 {
    font-size: 1rem;
}

ul, ol {
    padding-left: 1rem;
}

li > p:first-child {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

li > p:last-child {
    margin-bottom: 0.5rem;
}

blockquote {
    font-size: 90%;
    padding-left: 2rem;
}

pre {
    border: 1px solid gray;
    padding: 1.5rem;
}

pre > code {
    font-family: monospace;
}
